name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - "docker-compose.yml"
      - ".github/workflows/deploy-backend.yml"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy to Production
        run: |
          # Arrêter le script en cas d'erreur
          set -e

          # Aller dans le dossier du projet (Chemin absolu recommandé)
          # Assurez-vous que l'utilisateur du runner a les droits sur ce dossier
          cd /home/sydnec/skullking_js

          # Récupérer la dernière version du code
          git pull origin main

          # Reconstruire et redémarrer le conteneur backend
          docker compose up -d --build backend

          # Appliquer les migrations de base de données
          docker compose exec -T backend npx prisma migrate deploy

          # Nettoyage
          docker image prune -f
